<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new User</title>
</head>
<body>
    <h2>Add a new User</h2>
    <form method="post" action="/users/">
        <textarea rows="2" cols="30" name="userid" placeholder="Enter userId"></textarea> <br>
        <textarea rows="2" cols="30"  name="username" placeholder="Enter UserName"></textarea><br>
        <textarea rows="2" cols="80"  name="email" placeholder="Enter Email"></textarea><br>
        <input type="password" name="password" placeholder="enter password"><br>
        <button>Submit</button>
    </form>
</body>
</html>